{% extends 'main/main.html' %}
{% load static %}

{% block content %}
    <div id="choice-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 mx-5 my-3">
                <a href="#"><img class="img-fluid choice-option" src="{% static 'images/computer-choice.png' %}"></a>
            </div>
            <div class="col-lg-4 mx-5 my-3">
                <a href="{% url 'invite' %}"><img class="img-fluid choice-option" src="{% static 'images/friends-choice.png' %}"></a>
            </div>
        </div>
    </div>
{% endblock content %}