{% extends 'main/game_main.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex flex-row justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="container pt-3">
                <table id="table-bingo">
                    <tr>
                        <td id="square0">&nbsp;</td>
                        <td id="square1">&nbsp;</td>
                        <td id="square2">&nbsp;</td>
                        <td id="square3">&nbsp;</td>
                        <td id="square4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td id="square5">&nbsp;</td>
                        <td id="square6">&nbsp;</td>
                        <td id="square7">&nbsp;</td>
                        <td id="square8">&nbsp;</td>
                        <td id="square9">&nbsp;</td>
                    </tr>
                    <tr>
                        <td id="square10">&nbsp;</td>
                        <td id="square11">&nbsp;</td>
                        <td id="square12">&nbsp;</td>
                        <td id="square13">&nbsp;</td>
                        <td id="square14">&nbsp;</td>
                    </tr>
                    <tr>
                        <td id="square15">&nbsp;</td>
                        <td id="square16">&nbsp;</td>
                        <td id="square17">&nbsp;</td>
                        <td id="square18">&nbsp;</td>
                        <td id="square19">&nbsp;</td>
                    </tr>
                    <tr>
                        <td id="square20">&nbsp;</td>
                        <td id="square21">&nbsp;</td>
                        <td id="square22">&nbsp;</td>
                        <td id="square23">&nbsp;</td>
                        <td id="square24">&nbsp;</td>
                    </tr>
                </table>
                
            </div>
        </div>
        <div class="col-lg-6 align-self-center">
            <div class="container">
                <div class="d-flex flex-column">
                    <a id="proceed-btn" alt="Proceed" href="{% url 'game' %}">
                        <button type="button" class="btn btn-md rounded-pill" id="custom-btn">Proceed</button>
                    </a>
                    <a href="#" id="reload">
                        <button type="button" class="btn btn-md" id="custom-btn">Generate A New Card</button>
                    </a>  
                </div>
            </div>
        </div>
    </div>
{% endblock content %}