{% extends 'main/game_main.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex flex-row justify-content-center align-items-center">
        <div class="col-lg ">
            <div class="container pt-3" id="game-board">
                
            </div>
        </div>
        <div class="col-lg align-self-center">
            <p class="description">Drag the numbers and create your card.</p>
            <div class="drag-op">
                    
            </div>
            <a id="proceed-btn" alt="Proceed">
                <button type="button" class="btn btn-md rounded-pill" id="custom-btn">Proceed</button>
            </a>

        </div>
    </div>
{% endblock content %}
