{% extends 'main/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    
    <!--EditProfile-->
    <div class="row justify-content-center profile-box img-fluid">
        <div class="col-md-4" id="user-info">
          <br><br>
          <div class="container">
            <div class="picture-container">
                <div class="picture">
                    <img src="{{ user.player.profile_pic.url }}" class="picture-src" title="">
                </div>
            </div>
          </div>
          <p class="basic-info" allign="justify-content-center">{{user}}</p>
          <br>
          <p class="basic-inf-scoreo" allign="justify-content-center">Total-Score: {{user.player.total_score}}</p>
        </div>
        <div class="col-md-8" id="achievements">
          <br>
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form|crispy}}
            {{player_form|crispy}}
            <input class="btn btn-md rounded-pill" id="custom-btn" type="submit" name="Update Information">
          </form>
        </div>
    </div>
{% endblock content %}