{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/bingo_logo2.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/bg.png' %}" />
  </head>
  <body class="game-body">
    <div class="main-content">
      <header>
          <nav class="navbar navbar-light bg-transparent">
              <img src="{% static 'images/bingo_logo2.png' %}" height=20% width=23% style="box-shadow: 10px 10px 15px #1a1a1a;">
              <ul class="nav">
                <li class="nav-item item-1">
                    <a class="nav-link active" id="nav-members" href="{% url 'landing' %}">Home</a>
                </li>
                <li class="nav-item item-2">
                  <a class="nav-link active" id="nav-members" href="{% url 'profile' %}">Profile</a>
                <li>
                  <a class="nav-link active" id="nav-members" href="{% url 'logoutUser' %}">Logout</a>
                </li>
                {% if request.get_full_path == "/createCard/" or request.get_full_path == "/compCreateCard/" %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" style="color:#FFAE7E;" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose your Range!
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="drop">
                        <a class="dropdown-item" onclick="display(1,25)" >1-25</a>
                        <a class="dropdown-item" onclick="display(26,50)">26-50</a>
                        <a class="dropdown-item" onclick="display(51,75)">51-75</a>
                        <a class="dropdown-item" onclick="display(76,100)">76-100</a>
                        <a class="dropdown-item" onclick="display(101,125)">101-125</a>
                        <a class="dropdown-item" onclick="display(126,150)">126-150</a>
                        <a class="dropdown-item" onclick="display(151,175)">151-175</a>
                        <a class="dropdown-item" onclick="display(176,200)">176-200</a>
                      </div>
                    <li>
                {% endif %}
              </ul>
          </nav>
          <br><br><br>
      </header>
    
      {% block content %}

      {% endblock content %}
    </div>
    <!-- Javascript -->
    <script src="{% static 'main.js' %}"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>