{% extends 'main/game_main.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex flex-row justify-content-center align-items-center">
        <div class="col-lg">
            <div class="container pt-3">
                <table>
                    <tr>
                        <td class="square">1</td>
                        <td class="square">2</td>
                        <td class="square">3</td>
                        <td class="square">4</td>
                        <td class="square">5</td>
                    </tr>
                    <tr>
                        <td class="square">6</td>
                        <td class="square">7</td>
                        <td class="square">8</td>
                        <td class="square">9</td>
                        <td class="square">10</td>
                    </tr>
                    <tr>
                        <td class="square">11</td>
                        <td class="square">12</td>
                        <td class="square">13</td>
                        <td class="square">14</td>
                        <td class="square">15</td>
                    </tr>
                    <tr>
                        <td class="square">16</td>
                        <td class="square">17</td>
                        <td class="square">18</td>
                        <td class="square">19</td>
                        <td class="square">20</td>
                    </tr>
                    <tr>
                        <td class="square">21</td>
                        <td class="square">22</td>
                        <td class="square">23</td>
                        <td class="square">24</td>
                        <td class="square">25</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg">
            
        </div>
    </div>
{% endblock content %}