{% extends 'main/main.html' %}
{% load static %}

{% block content %}
    <div id="login-form">
        <p class="h1">Login</p>
        <div class="form-block container">
            <form>
                <div class="p-1 form-group">
                <input type="Username" required class="form-control credentials" id="exampleInputUsername" placeholder="Username">
                </div>
                <div class="p-1 form-group">
                <input type="password" required class="form-control credentials" id="examplePassword" placeholder="Create Password">
                </div>
                <button type="submit" class="btn btn-primary btn-md rounded-pill" id="custom-btn">Login</button>
            </form>
            <p id="signup-link">New User? <a href="{% url 'signup' %}">Sign Up</a></p>
        </div>
    </div>
{% endblock content %}