{% extends 'main/main.html' %}
{% load static %}

{% block content %}
	<div id="login-form">
        <p class="h1">Password reset<p>
        <div class="form-block container">
			<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

				<form method="post">

					{% csrf_token %}
					{{form}}
					<input type="Submit" name="Send email" class="btn btn-md rounded-pill" id="custom-btn">
					
				</form>
		</div>
	</div>
{% endblock content %}

