{% extends 'main/main.html' %}
{% load static %}

{% block content %}
    
    <!--Profile-->
    <div class="row justify-content-center profile-box img-fluid">
        <div class="col-md-4" id="user-info">
          <br><br>
          <div class="container">
            <div class="picture-container">
                <div class="picture">
                    <img src="{{ user.player.profile_pic.url }}" class="picture-src" title="">
                </div>
            </div>
          </div>
          <p class="basic-info" allign="justify-content-center">{{user}}</p>
          <br>
          <p class="basic-inf-scoreo" allign="justify-content-center">Total-Score: {{user.player.total_score}}</p>
        </div>
        <div class="col-md-8" id="achievements">
          <div class="row align-items-center justify-content-center">
            <div class="col selected tab-item" id="progress">
              <p id="sub-heading">Progress</p>
            </div>
            <div class="col deselected tab-item" id="matches">
              <p id="sub-heading">Matches</p>
            </div>
          </div>
          <br>
            
          <div class="tab-content show" id="progress-content">
            <span class="underline"><p>Matches Played: {{user.player.matches_played}}</p></span>
            <span class="underline"><p>Wins: {{user.player.win_count}}</p></span>
            <span class="underline"><p>Lost: {{user.player.loss_count}}</p></span>
            <span class="underline"><p>Draw: {{user.player.draw_count}}</p></span>
          </div>
          <div class="tab-content" id="matches-content">
            <span class="underline">
              <p>
                You played against ksjf12<br>
                🏆 You Won :)<br>
                Points Earned: +25
              </p>
            </span>
            <span class="underline">
              <p>
                You played against olk12<br>
                💔 You Lost :(<br>
                Points Earned: -25
              </p>
            </span>
          </div>
        </div>
    </div>
{% endblock content %}