{% extends 'main/main.html' %}
{% load static %}

{% block content %}
    <div class="play-btn">
      <a href="{% url 'choice' %}" alt="Play-now"><button type="button" class="btn btn-md rounded-pill" id="custom-btn">Play Now!</button></a>
    </div>
    <!--Profile-->
    <div class="profile-box row justify-content-center">
        <div class="col-md-4" id="user-info">
          <br><br>
          <div class="container">
            <div class="picture-container">
                <div class="picture">
                    <img src="{% static 'images/profile-icon.jpg' %}" class="picture-src" id="wizardPicturePreview" title="">
                    <input type="file" id="wizard-picture" class="">
                </div>
            </div>
          </div>
          <p class="basic-info" allign="justify-content-center">Username</p>
          <br>
          <p class="basic-inf-scoreo" allign="justify-content-center">Total-Score: 12320</p>
        </div>
        <div class="col-md-8" id="achievements">
          <div class="row align-items-center justify-content-center">
            <div class="col selected tab-item" id="progress">
              <p id="sub-heading">Progress</p>
            </div>
            <div class="col deselected tab-item" id="matches">
              <p id="sub-heading">Matches</p>
            </div>
          </div>
          <br>
            
          <div class="tab-content show" id="progress-content">
            <span class="underline"><p>Matches Played: 100</p></span>
            <span class="underline"><p>Wins: 80</p></span>
            <span class="underline"><p>Lost: 15</p></span>
            <span class="underline"><p>Draw: 8</p></span>
          </div>
          <div class="tab-content" id="matches-content">
            <span class="underline">
              <p>
                You played against ksjf12<br>
                🏆 You Won :)<br>
                Points Earned: +25
              </p>
            </span>
            <span class="underline">
              <p>
                You played against olk12<br>
                💔 You Lost :(<br>
                Points Earned: -25
              </p>
            </span>
          </div>
        </div>
    </div>
{% endblock content %}