{% extends 'main/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!--signup block-->
    <p class="signup-title">Sign-Up</p>
    <div class="signup-block">
        <br>
        <div class="block-content">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                
                <center><input type="submit" class="btn btn-md rounded-pill" value="submit" id="custom-btn"></center>


                {{form.errors}}
                <p id="signup-link"><center>Already have an account? <a href="{% url 'loginpage' %}">Login</a></center></p>
                
            </form>
        </div>
    </div>
{% endblock content %}