{% extends 'main/main.html' %}
{% load static %}

{% block content %}
    <!--signup block-->
    <p style="text-align: center; font-family: 'Lobster',cursive;color:#FFAE7E; font-size: 45px;">Sign-Up</p>
    <div class="signup-block">
        <br>
        <div class="block-content">
            <form>
                <div class="form-group">
                <input type="email" style="box-shadow: -2px 0 #4e4e4e, 0 2px #4e4e4e, 2px 0 #4e4e4e, 0 -2px #4e4e4e;" class="form-control credentials" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="Username" style="box-shadow: -2px 0 #4e4e4e, 0 2px #4e4e4e, 2px 0 #4e4e4e, 0 -2px #4e4e4e;" class="form-control credentials" id="exampleInputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                <input type="password" style="box-shadow: -2px 0 #4e4e4e, 0 2px #4e4e4e, 2px 0 #4e4e4e, 0 -2px #4e4e4e;" class="form-control credentials" id="examplePassword" placeholder="Create Password">
                </div>
                <div class="form-group">
                    <input type="password" style="box-shadow: -2px 0 #4e4e4e, 0 2px #4e4e4e, 2px 0 #4e4e4e, 0 -2px #4e4e4e;" class="form-control credentials" id="examplePassword" placeholder="Confirm Password">
                </div>
                <div class="button">
                    <a href="#" alt="Play-now" ><button type="button" class="btn btn-md rounded-pill" id="custom-btn">Sign-Up</button></a>
                </div>
                
            </form>
        </div>
    </div>
{% endblock content %}