{% extends 'main/main.html' %}
{% load static %}

{% block content %}
    <!--signup block-->
    <p class="signup-title">Sign-Up</p>
    <div class="signup-block">
        <br>
        <div class="block-content">
            <form method="POST">
                {% csrf_token %}
                {{form.username.label}}
                {{form.username}}

                {{form.email.label}}
                {{form.email}}

                {{form.password1.label}}
                {{form.password1}}

                {{form.password2.label}}
                {{form.password2}}
                
                <input type="submit" class="btn btn-primary" value="submit">


                {{form.errors}}
                <p id="signup-link"><center>Already have an account? <a href="{% url 'signup' %}">Login</a></center></p>
                
            </form>
        </div>
    </div>
{% endblock content %}